:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  overflow:hidden;

  mat-toolbar{
    flex: 0 0 auto;
    span {
      flex: 1 1 auto;
      align-items: center;
      display: flex;
    }
  }
}
