:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  overflow:hidden;

  mat-toolbar{
    flex: 0 0 auto;
    span {
      flex: 1 1 auto;
      align-items: center;
      display: flex;
    }
  }

  .tabs{
    display: flex;
    max-height: 90%;

    mat-tab-group{
      width: 100%;
    }

    .tab-content{
      display: flex;
    }
  }
}
