<mat-toolbar>
  <span style="justify-content: left;">
    <mat-icon>electrical_services</mat-icon>
    Conso QC
  </span>
  <span style="justify-content: center;">Tableau de bord</span>
  <span style="justify-content: right;">
    <mat-icon>menu</mat-icon>
  </span>
</mat-toolbar>
<mat-tab-group mat-align-tabs="center">
  <ng-container *ngFor="let tab of tabsGroup">
    <mat-tab [label]="tab.title">
          <app-line-chart [ChartModel]="allData[tab.key]"></app-line-chart>
    </mat-tab>
  </ng-container>

</mat-tab-group>
