<mat-toolbar>
  <span style="justify-content: left;">
    <mat-icon>electrical_services</mat-icon>
    Conso QC
  </span>
  <span style="justify-content: center;">Tableau de bord</span>
  <span style="justify-content: right;">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

  </span>
</mat-toolbar>

<div class="datepicker">
  <button mat-icon-button title="Réinitialiser les dates" (click)="resetDate()">
    <mat-icon>history</mat-icon>
  </button>
  <mat-form-field appearance="fill">
    <mat-label>Date de début</mat-label>
    <input matInput [matDatepicker]="picker1" disabled [(ngModel)]="dateStart" (dateChange)="setDateStart($event)" [min]="initialStart" [max]="initialEnd">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1 disabled="false"></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Date de fin</mat-label>
    <input matInput [matDatepicker]="picker2" disabled [(ngModel)]="dateEnd" (dateChange)="setDateEnd($event)" [min]="initialStart" [max]="initialEnd">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 disabled="false"></mat-datepicker>
  </mat-form-field>

</div>
<div class="tabs">
  <mat-tab-group mat-align-tabs="center">
    <ng-container *ngFor="let tab of tabsGroup">
      <mat-tab [label]="tab.name">
        <div class="tab-content">
          <app-line-chart [key]="tab.key" style="width: 70%;"></app-line-chart>
          <app-metrics-compare [key]="tab.key" style="width: 30%;"></app-metrics-compare>
        </div>

      </mat-tab>
    </ng-container>

  </mat-tab-group>
</div>
